# Copyright 2015 Pierre Talbot (IRCAM)

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

env:
  global:
    - secure: dIur06XYomBukvYR0aymt8D6YQpTGYvejZtInEmjOdnWziJJZmQ+HuTXMnXrrwFEFSC21uQfgBwhlItwcEzFu1ydx1LlxuUZh8sFjTFFrCWo3hRpyb4JGCAwoNvUZ1/d7MwHjGxjzFtMvnVPyo/wHlE2xgkWHZqmJfDgGkkpBuk=

language: rust
rust: nightly
script:
  - cargo build
  - cargo test
  - cargo doc
  - cd runtime; cargo test; cargo doc; cd ..
  - cd parsers; cargo test; cargo doc; cd ..
